<div class="alert alert-success tag-name" ng-if="$ctrl.imgSearch.length > 0">
    <h3>Images of tag
        <b>{{$ctrl.tagSearch}}</b>
    </h3>
</div>

<div class="alert alert-danger tag-name" ng-if="$ctrl.imgSearch.length < 1">
    <h3>
        <strong>Error!</strong>
        Image with tag {{$ctrl.tagSearch}} not found.
    </h3>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination  justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#!/tag/{{$ctrl.tagSearch}}/{{$ctrl.previous}}">Previous</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">currentPage={{$ctrl.page}}</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#!/tag/{{$ctrl.tagSearch}}/{{$ctrl.next}}">Next</a>
        </li>
    </ul>
</nav>


<div ng-repeat="item in $ctrl.imgSearch">
    <div class="col-lg-4 col-md-6 col-sm-12 imgPad ">
        <div class="panel panel-success" style="height: 400px;">

            <div class="panel-heading">
                <!--Title-->
                <h4 class="card-title" id="textSize"><description>{{item.title}}</description></h4>
                <!--Text-->
                <p class="card-text">
                    <date>{{item.datetime | date:'medium'}}   </date>

                </p>

                    <!--Tags:-->
                    <!--<tags ng-repeat="tag in item.tags" ng-if="tag">{{tag.display_name}}, </tags>-->
            </div>

            <div class="panel-body">
                <!--image-->
                <a href="{{item.link}}" >
                    <img ng-src="{{item.images[0].link || item.link}}" id="sizeImg"></img>
                </a>
            </div>
        </div>
    </div>
</div>
