<div class="container-fluid">
    <div  class="col-sm-12 row menu ">

        <div class="col-sm-3 menu">
            <input ng-model="$ctrl.query" placeholder="Search by tags" />
        </div>

        <div class="col-sm-9 row buttons">
            <div ng-repeat="category in $ctrl.cat | filter:$ctrl.query | limitTo : 10">
                <a href="#!/tag/{{category.name}}" class="b btn btn-primary btn-menu" alt="{{category.name}}"
                   role="button" aria-pressed="true"><category>{{category.display_name}}</category></a>
            </div>
        </div>

    </div>
</div>