<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#!/images">
        <h1>Ang-imgur</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" aria-label="Search" ng-model="$ctrl.query" placeholder="Search by tags" />
        </form>

        <div class="nav-item">
            <!--All images:-->
            <a class="nav-link btn btn-outline-success my-2 my-sm-0"  href="#!/images"
               role="button" aria-pressed="true">
                All images
            </a>
        </div>

        <ul class="navbar-nav mr-auto">
            <!--Tags:-->
            <li class="nav-item" ng-repeat="category in $ctrl.cat | filter:$ctrl.query | limitTo : 10">
                <a class="nav-link" href="#!/tag/{{category.name}}/{{$ctrl.page}}">
                    <button type="button" class="btn btn-outline-dark">{{category.display_name}}</button>
                </a>
            </li>

        </ul>

    </div>

</nav>